[Service]
WorkingDirectory=/home/fsae/test
ExecStart=/usr/bin/scada_calibrator.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scada_calibrator
User=root
Group=root
