[Service]
WorkingDirectory=/home/fsae/test
ExecStart=/usr/bin/scada_logger.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scada_logger
User=root
Group=root
